* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  background-color: hsl(210, 46%, 95%);
}

main {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-content {
  background-color: white;
  height: 22rem;
  width: 52rem;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
}

.container-content img {
  height: 22rem;
  width: 300px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.container-article {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-article h2 {
  color: hsl(217, 19%, 35%);
  margin: 0 0 2rem 0;
  flex-wrap: wrap;
}

.container-article p {
  color: hsl(212, 23%, 69%)
}

.container-author {
  display: flex;
  flex-direction: row;
  height: 7rem;
  width: 20rem;
}

.container-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 2rem;
}

.container-author h4 {
  margin: 2rem 0 0 1rem;
}

.container-author p {
  margin: 0 0 0 1rem;
}

.share-btn {
  background-color: rgba(169, 169, 169, 0.384);
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: -2rem 0 0 20rem;
}

.share-btn .fa-share {
  font-size: 20px;
  margin-top: 0.75rem;
  color: gray;
}

.share-btn:hover {
  background-color: hsl(217, 19%, 35%);
  transition: 0.2s;
}

.share-btn .fa-share:hover {
  color: white;
}